body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
  }
  
  /* Navbar */
  .navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand {
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .navbar-nav .nav-link {
    transition: color 0.3s ease-in-out;
  }
  
  .navbar-nav .nav-link:hover {
    color: #f8d210;
  }
  



.container {
    position: relative;
    z-index: 1;
}


  /* Cards */
  .card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  /* Buttons */
  .btn {
    transition: all 0.3s ease-in-out;
  }
  
  .btn:hover {
    transform: scale(1.1);
  }
  
  /* Footer buttons */
  .d-flex .btn {
    padding: 12px 20px;
    font-size: 1.1rem;
    border-radius: 10px;
  }
  